.listcontainer {
  margin-top: 46px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f4ce42;
  overflow-x: hidden;
  font-size: 20px;
  font-family: 'Helvetica';
  width: 30%;
}

.listcontainer a {
  text-align: left;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #f46842;
  display: block;
}

.listcontainer a:hover {
  color: #fff;
  background-color: #c4b831;
}

.mapcontainer {
  padding: 0px;
  width: 100%;
}

.titlecontainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #f46842;
}

.title {
  font-family: 'Arial';
  color: #f4ce42;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

.location :hover {
  cursor: pointer;
}

.filterlist {
  font-family: 'Helvetica';
  color: #f46842;
  margin-top: 5px;
  margin-left: 15px;
  font-size: 20px !important;
}

.filter {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 280px;
  padding: 20px;
}

.filter input {
  width: 100%;
  border: 0;
  padding: 12px 0;
  height: 48px;
  background: none;
  border-radius: 0;
  color: #f46842;
}

.filter input:focus {
  outline: none;
}

/*responsiveness for small viewports*/
@media screen and (max-width: 480px){
  .title {
    font-size: 18px;
  }
  .listcontainer {
    width: 40%;
    font-size: 16px;
  }
}

/*responsiveness for large viewports*/
@media screen and (min-width: 1000px) {
  .listcontainer {
    width: 300px;
  }
}
